body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  letter-spacing: 0.5px;
}
main{
  width: 100%;
}
.page-content{
  width: 100%;
  max-width: 1080px;
  margin: auto;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title{
  display: block;
  margin: 40px 10px 14px 12px!important;
  font-weight: 500!important;
}